In [20]:
import pandas as pd
from matplotlib.pyplot import subplots
import statsmodels.api as sm
from ISLP import load_data
from ISLP.models import (ModelSpec as MS,
                         summarize)

Import data for tower counts and LD outbreaks for each NTA code.

In [21]:
towers = pd.read_csv('data/cleaned_data/nta_tower_count.csv')
LD_cases = pd.read_csv('data/cleaned_data/NYC.csv')
demographics = pd.read_csv('data/cleaned_data/NYC_demographics.csv')

In [22]:
brook_cases = LD_cases.loc[lambda LD_cases: LD_cases['NTA code'].str.contains('BK', na=False)]
brook_demo = demographics.loc[lambda demographics: demographics['NTA code'].str.contains('BK', na=False)].drop(columns='NTA name')

In [23]:
towers.set_index('NTA code', inplace=True)
brook_cases.set_index('NTA code', inplace=True)
brook_demo.set_index('NTA code', inplace=True)
brook_cases.head(3)

                     NTA name  rate
NTA code
BK25                Homecrest  0.00
BK46      Ocean Parkway South  0.00
BK29         Bensonhurst East  0.27

In [24]:
brook_demo.head(3)

,Boro name,Total pop,65+ pop,65+ %pop,65+ poverty %pop,% Hispanic,% White,%Black,% Asian,% Other
NTA code,,,,,,,,,,
BK09,Brooklyn,24168,3512,14.5,10.6,7.3,72.6,5.8,9.3,5.1
BK17,Brooklyn,65631,13375,20.4,18.7,9.2,62.4,6.5,19.8,2.2
BK19,Brooklyn,34431,8875,25.8,40.7,10.7,71.2,0.7,13.8,3.6

In [25]:
data = brook_demo.join(brook_cases).join(towers)
data.fillna(0);

In [26]:
with open('data/cleaned_data/NTA_LD_towers.csv', 'w', newline='') as file:
    data.to_csv(file)

In [27]:
data.corr(numeric_only=True)

,Total pop,65+ pop,65+ %pop,65+ poverty %pop,% Hispanic,% White,%Black,% Asian,% Other,rate,Towers
Total pop,1.000000,0.804212,-0.342223,-0.057241,0.107031,-0.283107,0.179945,0.089407,-0.245370,-0.183310,-0.044865
65+ pop,0.804212,1.000000,0.184445,-0.148425,-0.207802,-0.112463,0.122950,0.217544,-0.307467,-0.262086,-0.133203
65+ %pop,-0.342223,0.184445,1.000000,0.073886,-0.396205,0.287626,-0.090608,0.058523,-0.182291,-0.029833,-0.141320
65+ poverty %pop,-0.057241,-0.148425,0.073886,1.000000,0.467260,-0.149455,-0.082860,0.023745,-0.192226,0.238882,-0.122802
% Hispanic,0.107031,-0.207802,-0.396205,0.467260,1.000000,-0.391664,-0.131501,0.060790,-0.083078,0.078866,0.155617
% White,-0.283107,-0.112463,0.287626,-0.149455,-0.391664,1.000000,-0.782791,0.131376,0.263845,-0.499772,0.121409
%Black,0.179945,0.122950,-0.090608,-0.082860,-0.131501,-0.782791,1.000000,-0.552715,-0.243175,0.571006,-0.172004
% Asian,0.089407,0.217544,0.058523,0.023745,0.060790,0.131376,-0.552715,1.000000,-0.002757,-0.386933,-0.080050
% Other,-0.245370,-0.307467,-0.182291,-0.192226,-0.083078,0.263845,-0.243175,-0.002757,1.000000,-0.017401,0.443664
rate,-0.183310,-0.262086,-0.029833,0.238882,0.078866,-0.499772,0.571006,-0.386933,-0.017401,1.000000,-0.099652
Towers,-0.044865,-0.133203,-0.141320,-0.122802,0.155617,0.121409,-0.172004,-0.080050,0.443664,-0.099652,1.000000